<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
 	<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
            	<mdc/>
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%date{ISO8601}",
                        "level": "%level",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>